legend {
	border-bottom: 1px solid #dadada !important	;
	display: block;
	font: 19px 'FranklinGothic';
	margin-bottom: 20px;
	max-width: 455px;
	text-transform: uppercase;
	position: relative;
	width: 100%;
}

.legend-hint {
	color: #7F7F7F;
	font: italic 11px 'PTSans';
	margin-bottom: -38px;
	position: relative;
	top: -38px;
	text-align: right;
}

.form-col {
	width: 455px;
}
	.form-col.r {
		width: 430px;
	}

.form-row {
	margin-top: 18px;
	position: relative;
}

.order-form .submit-row {
	text-align: right;
}

.promo-input {
	background: #FFFADF;
	border: none;
	border-radius: 4px;
	padding: 8px;
	width: 110px;
}

.text-row {
	color: #4c4c4c;
	font: 13px 'PTSans';
}
	.text-row strong {
		color: #7f7f7f;
		font-size: 13px;
		font-weight: normal;
	}
	.text-row em {
		color: #dc3d68;
	}

	.form-row.wide {
		width: 600px;
	}

fieldset {
	margin: 0 0 25px !important	;
	padding: 0 !important;
}

input[type=text], input[type=password], textarea {
	border-radius: 5px;
	border: 1px solid #ededed;
	height: 24px;
	line-height: 24px;
	padding: 4px 13px;
}
textarea {
	height: 100px;
}

.order-form input, .order-form textarea, .order-form select {
	font: italic 11px 'PTSans';
}

.order-form select {
	width: 140px;
}

input.big {
	width: 430px;
}

input.small {
	width: 113px;
}

label {
	font: 12px 'PTSans';
	text-transform: uppercase;
}

.form-hint {
	color: #7f7f7f;
	font: italic 11px 'PTSans';
}

.input-wrap {
	display: inline-block;
	*display: inline;
	margin-left: 13px;
	position: relative;
	zoom: 1;
}

.input-wrap:first-child {
	margin-left: 0;
}

button, a.btn {
	background: #dc3d68;
	border: none;
	border-radius: 3px;
	color: #fff !important;
	font: 12px 'PTSans' !important;
	display: inline-block;
	*display: inline;
	line-height: 19px !important;
	text-align: center;
	text-decoration: none;
	min-width: 50px;
	padding: 0 5px;
	zoom: 1;
}
button:hover, a.btn:hover {
	opacity: 0.9;
}
button.giant, a.btn.giant {
	padding: 10px 25px !important;
	font: 18px 'PTSans' !important;
	border-radius: 8px;
}

.input-radio-wrap {
	width: 47%;
}
	.input-radio-wrap .price {
		color: #4c4c4c;
		font: 14px 'PTSans';
		margin-top: 5px;
		text-align: right;
	}
	.input-radio-wrap .form-hint {
		margin-left: 23px;
	}

.contacts-form {
	margin-bottom: -230px;
}
	.contacts-form {
		text-align: center;
	}
	.contacts-form label, .faq-form label {
		color: #dc3d68;
		font: 18px 'FranklinGothic';
		display: block;
		margin-bottom: 5px;
		text-align: center;
		text-transform: uppercase;
	}

	.contacts-form input, .contacts-form textarea {
		color: #b2b2b2;
		font: 15px 'PTSans';
		resize: none;
	}
	.contacts-form input {
		width: 300px;
	}
	.contacts-form textarea {
		height: 300px;
		width: 400px;
	}
	.contacts-form select {
		width: 325px;
	}

	.contacts-form .submit-row, .faq-form .submit-row {
		margin-top: 25px;
	}
	.contacts-form button, .faq-form button {
		border-radius: 6px;
		color: #fff;
		font: 18px 'PTSans' !important	;
		padding: 5px 10px;
		text-transform: uppercase;
	}

	.faq-form label {
		text-align: left;
	}
	.faq-form textarea {
		resize: none;
		width: 415px;
	}
	.faq-form input {
		margin-right: 0;
		width: 187px;
	}
	.faq-form .submit-row {
		text-align: right;
	}

.filter-form {
	margin-top: 16px;
}
.filter-form input, .filter-form select {
	background: #dc3d68;
	border-radius: 0;
	border: none;
	color: #fff;
	font: 9px 'FranklinGothic';
	height: 21px;
	line-height: 21px;
	padding: 0 9px;
	width: 122px;
}
.filter-form select {
	padding-right: 0;
	width: 140px;
}



.ads-item-friend-form {
  margin-right: 12px;
  text-align: right;
}
  .ads-item-friend-form input {
    background: #fff;
    border: none;
    border-radius: 5px;
    height: 20px;
    padding: 0 7px;
    width: 112px;
  }
  .ads-item-friend-form button {
    background: #de3d67;
    border-radius: 2px;
    border: none;
    color: #fff;
    font-size: 10px;
    height: 14px;
    margin-top: 5px;
    width: 47px;
  }

.register-form {
	color: #fff;
	font: 10px 'PTSans';
	margin: -15px auto 0;
	text-align: center;
	width: 300px;
}
  .register-form-title {
    color: #b2b2b2;
    font: italic 12px 'PTSans';
    margin-bottom: 10px;
  }

  .register-form .form-row, .enter-form .form-row {
  	margin-top: 3px;
  }

  .register-form input[type=text], .enter-form input[type=text] {
  	border: 1px solid #000;
  	font: italic 12px 'PTSans';
  	height: 20px;
  	line-height: 20px;
  	margin: 0;
  	width: 120px;
  }
  .register-form input.big {
  	width: 272px;
  }

  .register-form button {
  	font: 13px 'PTSans';
  	padding: 2px 10px;
  }

  .register-form .soc-wrap {
  	margin-left: 107px;
  }

  .enter-form {
  	color: #fff;
	font: 10px 'PTSans';
  	margin-top: 15px;
  	text-align: center;
  }
  .enter-form input[type=text] {
  	width: 162px;
  }
  	.enter-form .soc-wrap {
  		margin-left: 70px;
  	}

  .enter-form-forgot-pass-link {
  	color: #aaa;
  	font: 7px 'PTSans';
  	position: absolute;
  	right: 15px;
  	bottom: -2px;
  	margin-bottom: -15px;
  }

label.error {
  color: #c50000;
  font: 12px 'PTSans';
  left: 0;
  min-width: 300px;
  position: absolute;
  top: 40px;
}

label.custom-error {
	background: #302e2f;
	border: 2px solid #fff;
	border-radius: 5px;
	color: #fff;
	font: 10px 'PTSans';
	line-height: 150%;
	padding: 8px 20px 8px 8px;
	position: absolute;
	left: -95px;
	top: -1px;
}
	label.custom-error.right {
		left: auto;
		right: -147px;
	}

	label.custom-error .right-arr, label.custom-error .left-arr {
		background: url(../images/sprt.png?123) no-repeat -521px -69px;
		content: '.';
		height: 17px;
		text-indent: -9999px;
		margin-top: -9px;
		top: 50%;
		right: -9px;
		position: absolute;
		width: 11px;
	}
	label.custom-error .left-arr {
		background-position: -499px -69px;
		left: -11px;
		right: auto;
	}

	label.custom-error .remove {
		background: url(../images/sprt.png) -489px -23px no-repeat;
		height: 9px;
		position: absolute;
		top: 9px;
		right: 6px;
		width: 10px;
	}

.moneyback-form {
	color: #444;
	font: 11px 'PTSans';
}
	.moneyback-form label {
		color: #444;
		font: italic 11px 'PTSans';
		text-transform: none;
		width: 100px;
	}
	.moneyback-form textarea {
		resize: none;
		width: 155px;
	}

	.moneyback-form .submit-row {
		text-align: right;
	}
	.moneyback-form button {
		font: 14px 'PTSans' !important;
		padding: 5px 10px;
		text-transform: uppercase;
	}

a.moneyback-form-change-quantity {
	color: #444;
}

.popup-edit-form label {
	font: italic 11px 'PTSans';
	color: #7f7f7f;
	line-height: 20px;
	text-transform: none;
	width: 98px;
}

.popup-edit-form input {
	border: 1px solid #ededed;
	color: #7f7f7f;
	font: 12px 'FranklinGothic';
	height: 20px;
	line-height: 20px;
	padding: 0 10px;
	width: 115px;
}
	.popup-edit-form input.small {
		width: 80px;
	}
	.popup-edit-form input.tiny {
		text-align: center;
		padding: 0 3px;
		width: 24px;
	}
.popup-edit-form legend {
	border-bottom: 1px solid #b2b2b2;
	color: #000;
	font: 19px 'FranklinGothic';
}

.popup-edit-form .submit-row {
	text-align: center;
}
	.popup-edit-form button, form button.big {
		font: 14px 'PTSans' !important	;
		margin-left: 10px;
		padding: 5px 15px;
	}
	.popup-edit-form .cancel-link, form .submit-alternative {
		color: #666 !important;
		font: 14px 'PTSans';
		margin-right: 10px;
	}


.popup-edit-form-errors .error {
	color: #c50000;
	font: 11px 'PTSans';
	text-align: center;
	position: relative;
}
	.popup-edit-form-errors .error:after {
		background: url(../images/sprt.png) -490px -24px no-repeat;
		content: '.';
		display: inline-block;
		height: 9px;
		margin-left: 5px;
		text-indent: -9999px;
		width: 10px;
	}

.stats-form label {
	font: 17px 'FranklinGothic';
	position: relative;
	top: 2px;
}

a.stats-form-alt-link {
	color: #999;
	font: 10px 'FranklinGothic';
	text-decoration: underline;
	margin-left: 10px;
}