@import 'forms.css';
@import 'popup.css';

@font-face {
    font-family: 'FranklinGothic';
    src: url('../fonts/frg57.woff') format('woff'),
         url('../fonts/frg57.ttf') format('truetype'),
         url('../fonts/frg57.svg#franklingothicbookconditcRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Bodoni';
    src: url('../fonts/bdn55___.woff') format('woff'),
         url('../fonts/bdn55___.ttf') format('truetype'),
         url('../fonts/bdn55___.svg#bodoniregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSans';
    src: url('../fonts/ptn57f.woff') format('woff'),
         url('../fonts/ptn57f.ttf') format('truetype'),
         url('../fonts/ptn57f.svg#pt_sans_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }
/*
::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }
*/
a { color: #00a1c5; text-decoration: none; }
a:visited {  }
a:hover { color: #33c1f5; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

a.action {
  border-bottom: 1px dotted #00a1c5;
  text-decoration: none;
}

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { outline: none; }

table { border-collapse: none; border-spacing: 0; }
td { vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  line-height: 100%; }


/**/

body {
  font: 14px 'FranklinGothicBookITC';
}

.page-wrapper {
  margin: 0 auto;
  position: relative;
  width: 1020px;
}

.page-header-top {
  background: url(../images/header_big.jpg) 0 0 no-repeat;
  height: 631px;
}

.page-header-enter-link {
  color: #fff;
  font: 12px 'Futuris';
  position: absolute;
  top: 81px;
  right: 39px;
}

.register-wrap {
  background-image: -webkit-radial-gradient(circle, #414143, #231f20);
  background-image: -moz-radial-gradient(circle, #414143, #231f20);
  background-image: -o-radial-gradient(circle, #414143, #231f20);
  background-image: -ms-radial-gradient(circle, #414143, #231f20);
  background-image: radial-gradient(circle, #414143, #231f20);
  border: 1px solid #666;
  border-radius: 10px;
  height: 320px;
  left: 96px;
  position: absolute;
  top: 118px;
  width: 400px;
}

.enter-wrap {
  background-image: -webkit-radial-gradient(circle, #414143, #231f20);
  background-image: -moz-radial-gradient(circle, #414143, #231f20);
  background-image: -o-radial-gradient(circle, #414143, #231f20);
  background-image: -ms-radial-gradient(circle, #414143, #231f20);
  background-image: radial-gradient(circle, #414143, #231f20);
  border-radius: 10px;
  height: 165px;
  position: absolute;
  right: 39px;
  top: 117px;
  width: 220px;
  -webkit-box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.5);
}
  .enter-wrap-arr {
    background: url(../images/sprt.png) no-repeat -513px -46px;
    height: 8px;
    position: absolute;
    width: 19px;
    top: -8px;
    right: 20px;
  }

  .register-wrap-logo {
    background: url(../images/sprt.png) no-repeat -310px -440px;
    display: block;
    height: 116px;
    margin: 20px auto 0;
    width: 300px;
  }

.page-header-bottom {
  background: #000;
  border-bottom: 1px solid #bfbfbf;
  height: 49px;
  padding-top: 20px;
}

  .page-logo {
    background: url(../images/sprt.png) 0 0 no-repeat;
    height: 29px;
    margin-left: 50px;
    width: 90px;
  }

  .page-nav {
    font: 13px 'FranklinGothic';
    line-height: 100%;
    margin: 9px 0 0 60px;
    text-transform: uppercase;
  }
    .page-nav a {
      color: #fff;
      margin-right: 47px;
      padding-bottom: 4px;
    }
    .page-nav a:hover, .page-nav a.selected {
      border-bottom: 1px solid #dc3c68;
    }

  .page-header-acc-links {
    font-size: 14px;
    margin: -13px 7px 0 0;
  }
    .page-header-acc-links a {
      background: url(../images/sprt.png) -90px 2px no-repeat;
      height: 48px;
      margin-right: 21px;
      position: relative;
      width: 46px;
    }
      .page-header-acc-links .cart .quantity, .page-header-acc-links .cart .time {
        position: absolute;
      }
      .page-header-acc-links .cart .quantity {
        color: #fff;
        right: 0;
        text-align: center;
        top: 7px;
        width: 25px;

      }
      .page-header-acc-links .cart .time {
        color: #000;
        font-size: 8px;
        text-align: center;
        top: 28px;
        width: 35px;
      }

      .page-header-acc-links .acc {
        background-position: -136px 5px;
      }

.page-contacts {
  background: #000;
  height: 4px;
  margin-top: 10px;
}
  .page-contacts-content {
    background: #fff;
    font-size: 12px;
    line-height: 20px;
    margin-top: -5px;
    padding: 0 39px 0 10px;
    width: 184px;
  }
  .page-contacts-content .icon {
    position: relative;
  }
  .page-contacts-content span {
    margin: -2px 0 0 5px;
  }
  a.page-contacts-content-question-link {
    background: url(../images/sprt.png) -188px 0 no-repeat;
    color: #fff;
    font: 10px 'FranklinGothic';
    display: inline-block;
    line-height: 140%;
    height: 22px;
    margin-top: -2px;
    padding-top: 2px;
    padding-left: 5px;
    width: 55px;
  }
    .page-contacts-content-question-link.custom {
      background-position: -188px -22px;
      height: 18px;
      margin-top: -6px;
      padding-top: 5px;
    }

.icon {
  background: url(../images/sprt.png) no-repeat;
  display: inline-block;
}
  .icon-phone {
    background-position: -182px 0;
    height: 14px;
    width: 6px;
  }
  .icon-remove {
    background-position: -489px -24px;
    height: 9px;
    width: 10px;
  }

  .icon-legend-contacts {
    background-position: -564px -194px;
    height: 18px;
    margin-right: 10px;
    width: 20px;
  }
  .icon-legend-home {
    background-position: -564px -217px;
    height: 17px;
    margin-right: 10px;
    width: 22px;
  }

.page-footer {
  background: #000;
  color: #fff;
  margin-top: 22px;
  padding: 19px 0;
}

  .page-footer-copy, .made-by, .soc-wrap {
    margin-top: 6px;
  }
  .page-footer-copy {
    font-size: 8px;
    margin-left: 70px;
  }
  .soc-wrap  {
    margin-left: 12px;
  }
    .soc-wrap a {
      background: url(../images/sprt.png) -282px -47px no-repeat;
      height: 23px;
      margin-left: 3px;
      width: 23px;
    }
      .soc-wrap .fb {
        background-position: -308px -47px;
      }
      .soc-wrap .tw {
        background-position: -335px -47px;
      }

  .made-by {
    margin-right: 11px;
  }
    .made-by-link {
      background: url(../images/sprt.png) -283px -78px no-repeat;
      display: block;
      height: 18px;
      width: 105px;
    }

.page-content {
  margin: 18px 40px 0;
}

.ads-wrap {
  margin-left: -20px;
}
.ads-item {
  background: #000;
  color: #fff;
  font: 12px 'PTSans';
  height: 99px;
  margin-left: 20px;
  position: relative;
  width: 300px;
}
  .ads-item a {
    color: #fff;
  }
.ads-item-column-left, .ads-item-column-right {
  width: 143px;
}
.ads-item-column-right {
  width: 157px;
}
  .ads-item-title {
    border-bottom: 2px solid #dd3d69;
    font: 16px 'FranklinGothic';
    margin: 7px 0 14px 7px;
    padding-bottom: 3px;
    width: 80%;
  }
  .ads-item-text, .ads-item-footer {
    margin: 0 7px;
  }
  .ads-item-footer {
    font-size: 10px !important;
    font-style: italic;
    font-weight: bold;
  }
.ads-item-footer {
  bottom: 5px;
  position: absolute;
}

.page-banner {
  margin-top: 18px;
}

.back-link-wrap {
  background: url(../images/sprt.png) -434px 4px no-repeat;
  font-size: 13px;
  margin-top: 15px;
  padding-left: 8px;
  text-transform: uppercase;
}
  .back-link-wrap a {
    color: #000;
    text-decoration: underline;
  }

.bc-wrap {
  margin: 20px 0 0 -20px;
}

.bc-wrap a {
  color: #fff;
  text-decoration: none;
}

.bc-item {
  background: #dc3d68;
  color: #fff;
  font: 9px 'FranklinGothic';
  height: 21px;
  line-height: 21px;
  margin-left: 20px;
  padding: 0 9px;
  position: relative;
  width: 122px;
}

.bc-dropdown-turner {
  display: block;
  position: relative;
}
  .opened .bc-dropdown-turner {
    color: #a52e4e;
  }
  
  .bc-dropdown-arr {
    background: url(../images/sprt.png) no-repeat -565px -115px;
    height: 8px;
    position: absolute;
    right: 0;
    top: 6px;
    width: 12px;
  }
  .opened .bc-dropdown-arr {
    background-position: -551px -115px;
  }

.bc-dropdown-menu {
  background: #dc3d68;
  display: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  left: 0;
  margin: 0;
  padding: 0 5px 8px;
  position: absolute;
  top: 21px;
  width: 140px;
  z-index: 5;
}
  .opened .bc-dropdown-menu {
    display: block;
  }

  .bc-dropdown-menu li {
    margin-top: 0;
    height: 15px;
    line-height: 15px;
  }
  .bc-dropdown-menu label {
    font: 10px 'FranklinGothic' !important;
  }

h1 {
  color: #000;
  font: 21px 'FranklinGothic';
  position: relative;
  text-align: center;
}
h1.higher {
  margin-top: -20px;
}

h1.custom {
  behavior: url(PIE.htc);
  font: 43px 'Bodoni';
  margin: 30px 0 0;
  text-align: left;
  text-transform: uppercase;
}
h1.custom:before {
  background: url(../images/sprt.png) -220px -111px no-repeat;
  display: inline-block;
  content: '.';
  height: 74px;
  margin-right: 5px;
  text-indent: -9999px;
  top: -20px;
  position: relative;
  width: 63px;
}
h1.contacts.custom:before {
  background-position: -282px -111px;
  height: 70px;
  top: -15px;
  width: 52px;
}
h1.faq.custom:before {
  background-position: -220px -185px;
  height: 70px;
  top: -15px;
  width: 54px;
}
h1.invite.custom:before {
  background-position: -392px -180px;
  height: 43px;
  left: 5px;
  margin-bottom: 28px;
  top: 0;
  width: 54px;
}
h1.blog.custom:before {
  background-position: -470px -195px;
  height: 63px;
  left: 5px;
  margin-bottom: 10px;
  top: -10px;
  width: 70px;
}
h1.moneyback:before {
  background-position: -482px -119px;
  top: -3px;
}

h2 {
  font: 19px 'FranklinGothic';
}

.heading-aside {
  margin: 45px 0 0 50px;
}

.reserve-time {
  font: 12px 'PTSans';
  margin-left: 50px;
  position: relative;
  text-transform: uppercase;
}
  .reserve-time:before {
    background: url(../images/sprt.png) -434px -20px no-repeat;
    content: '.';
    height: 17px;
    left: -25px;
    position: absolute;
    top: 2px;
    width: 17px;
  }
  .reserve-time .time {
    color: #dc3d68;
    font: 19px 'Futuris';
    margin-left: 5px;
  }

.heading-underline {
  border: 1px solid #dc3d68;
  border-top: none;
  border-right: none;
  height: 12px;
  margin: -25px 0 0 50px;
}
  .heading-underline.left {
    border-left: none;
    border-right: 1px solid #dc3d68;
    margin-left: 0;
    width: 50px;
  }

.content-block {
 font: 16px 'PTSans'; 
 padding: 15px 15px 15px 50px;
 margin-bottom: 100px;
 position: relative;
}
  .content-block.contacts {
    margin-bottom: 330px;
  }
  .content-block.faq, .content-block.blog {
    padding-left: 0;
  }

  .content-block p {
    margin: 0 0 20px;
  }
  .content-block.columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 22px;
    -moz-column-gap: 22px;
    column-gap: 22px;
  }
  .content-block.right-line {
    border-right: 1px solid #dc3d68;
  }
  .content-block.left-line {
    border-left: 1px solid #dc3d68;
    padding-left: 15px;
  }

  .content-block .lead {
    color: #dc3d68;
    font-weight: bold;
  }

.content-block-lining {
  border-top: 1px solid #dc3d68;
  border-left: 1px solid #dc3d68;
  bottom: -20px;
  height: 20px;
  position: absolute;
  right: 0;
  width: 125px;
}
  .left-line .content-block-lining {
    border-left: none;
    border-right: 1px solid #dc3d68;
    left: 0;
    right: auto;
    width: 800px;
  }

  .content-block-lining-icon {
    background: url(../images/sprt.png) -415px -113px no-repeat;
    height: 51px;
    margin: 20px 0 0 -17px;
    width: 68px;
  }
    .left-line .content-block-lining-icon {
      margin-left: 785px;
    }
  .content-block-lining-icon.email {
    background-position: -335px -113px;
    height: 63px;
    left: -50px;
    top: 5px;
    position: absolute;
    width: 80px;
    display: none;
  }
  .content-block-lining-icon.phone {
    background-position: -566px -283px;
    position: absolute;
    left: 20px;
    top: 12px;
    height: 72px;
    width: 52px;
    display: none;
  }
  .content-block-lining-icon.invite {
    background-position: -387px -222px;
    height: 44px;
    left: -10px;
    margin-left: -20px;
    position: relative;
    top: 5px;
    width: 80px;
  }

.actions-wrap {
  margin-left: -20px;
}
.action-item {
  font: 12px 'FranklinGothic';
  margin: 0 0 20px 20px;
  position: relative;
  text-align: center;
  width: 220px;
}
  .action-item-image {
    position: relative;
  }
    .action-item-image-overlay {
      background: url(../images/sprt.png) 0 -47px no-repeat;
      height: 220px;
      left: 0;
      position: absolute;
      top: 0;
      width: 220px;
    }
  .action-item-discount, .product-item-discount, .product-detail-discount {
    background: url(../images/sprt.png?2) -220px -47px no-repeat;
    color: #fff;
    height: 59px;
    line-height: 60px;
    position: absolute;
    right: -5px;
    top: 15px;
    width: 60px;
  }
    .product-detail-discount.left-20, .product-item-discount.left-20, .action-item-discount.left-20 {
      background-position: -680px -140px;
    }
    .product-detail-discount.left-10, .product-item-discount.left-10, .action-item-discount.left-10 {
      background-position: -680px -205px;
    }
    .product-detail-discount.left-3, .product-item-discount.left-3, .action-item-discount.left-3 {
      background-position: -740px -205px;
    }
    .product-detail-discount.left-5, .product-item-discount.left-5, .action-item-discount.left-5 {
      background-position: -741px -140px;
    }
    .product-detail-discount.left-1, .product-item-discount.left-1, .action-item-discount.left-1 {
      background-position: -740px -77px;
    }
    .product-detail-discount.left-0, .product-item-discount.left-0, .action-item-discount.left-0 {
      background-position: -679px -270px;
    }

  .action-item-time-left {
    background: url(../images/sprt.png?2) -249px -3px no-repeat;
    color: #fff;
    font: 9px 'FranklinGothic';
    height: 32px;
    line-height: 20px;
    font-size: 10px;
    margin: -67px 0 0 20px;
    padding-top: 7px;
    position: relative;
    text-transform: uppercase;
    width: 180px;
  }
  .action-item-title {
    font-size: 21px;
    margin-top: 40px;
    position: relative;
    text-transform: uppercase;
  }
  .action-item-hr {
    border-top: 2px solid #DC3D68;
    height: 2px;
    margin: 5px 60px;
  }
  .action-item-description {
    color: #10005F;
    font-size: 14px;
    margin-top: 5px;
  }

.products-wrap {
  margin-left: -20px;
}

.product-item {
  color: #fff;
  margin: 0 0 20px 20px;
  position: relative;
  width: 220px;
}

  .product-item-title {
    background: #444;
    background: rgba(0, 0, 0, 0.7);
    bottom: 38px;
    font: 21px 'Bodoni';
    line-height: 30px;
    margin-top: -38px;
    padding: 4px 14px;
    position: absolute;
    width: 192px;
  }
  .product-item-title a {
    color: #fff;
  }

  .product-item-price {
    background: #000;
    font: 21px 'FranklinGothic';
    height: 38px;
    line-height: 38px;
    padding: 0 14px;
  }
    .product-item-price strong {
      color: #DC3D68;
      font: 25px 'FranklinGothic';
    }
    .product-item-price del {
      color: #B2B2B2;
      font: italic 14px 'FranklinGothic';
    }
  .product-item-discount {
    background-position: -680px -77px;
    height: 60px;
    top: -7px;
    right: -10px;
  }

.product-detail {
  margin-top: 20px;
}

  .product-detail-images-left {
    width: 170px;
  }
  .product-detail-images-right {
    margin-left: 25px;
    position: relative;
    width: 268px;
  }
    .product-detail-discount {
      top: -10px;
    }

  .product-detail-content {
    width: 460px;
  }
    .product-detail-title {
      font: 24px 'Bodoni';
      margin-top: -6px;
    }
    .product-detail-price {
      font: 23px 'FranklinGothic';
      margin-top: -5px;
    }
      .product-detail-price strong {
        color: #DC3D68;
        font-size: 27px;
      }
      .product-detail-price del {
        color: #7F7F7F;
        font-size: 15px;
        font-style: italic;
      }

  .product-detail-stats {
    margin-top: 10px;
  }

.product-detail-tabs-links-wrap {
  border-bottom: 1px solid #ccc;
  margin: 20px 0 10px;
  padding-bottom: 10px;
}
  .product-detail-tabs-links-wrap a {
    color: #000;
    font: 16px 'FranklinGothic';
    margin-right: 15px;
    padding: 3px 5px;
  }
  .product-detail-tabs-links-wrap a.selected {
    background: #ECE7E2;
    color: #fff;
  }

  .product-detail-tabs-tab {
    display: none;
    font: 16px 'PTSans';
  }

.product-detail-soc {
  margin-top: 30px;
}

.cart-product-item {
  margin-top: 4px;
  position: relative;
}

.cart-product-item-line {
  border-bottom: 1px dashed #222;
  left: 52px;
  position: absolute;
  top: 27px;
  width: 275px;
}

.cart-product-item .content {
  background: #fff;
  font: 16px 'PTSans';
  margin: 5px 0 0 10px;
  padding-right: 5px;
  position: relative;
  z-index: 20;
}
  .cart-product-item .content .title {
    color: #dc3d68;
  }

  .cart-product-item .quantity {
    color: #4c4c4c;
  }
    .cart-product-item .quantity-arr-wrap {
      display: inline-block;
      display: *inline;
      height: 20px;
      position: relative;
      zoom: 1;
      width: 10px; 
    }

    .cart-product-item .quantity-arr {
      background: url(../images/sprt.png) -490px -49px no-repeat;
      height: 6px;
      position: absolute;
      top: 9px;
      right: 2px;
      width: 10px;
    }
    .cart-product-item .down {
      background-position: -490px -57px;
      top: 17px;
    }

.cart-product-item .price {
  color: #4c4c4c;
  font: 15px 'PTSans';
  margin: 10px 10px 0 0;
}

.cart-product-item .remove {
  background: url(../images/sprt.png) -489px -35px;
  height: 12px;
  margin: 15px 0 0;
  width: 11px;
}

.total-price {
  color: #4c4c4c;
  font: 19px 'PTSans';
  margin-top: 20px;
  text-align: right;
}
  .total-price .discount {
    color: #dc3d68;
    font-size: 12px;
  }

.order-info-wrap {
  margin-left: -20px;
}
.order-info-item {
  background: #B2B2B2;
  color: #fff;
  height: 100px;
  margin-left: 20px;
  padding: 13px;
  width: 274px;
}
  .order-info-item .title {
    border-bottom: 4px solid #fff;
    font: 19px 'FranklinGothic';
    text-transform: uppercase;
  }
  .order-info-item .text {
    font: 13px 'PTSans';
    margin-top: 4px;
  }

.order-form-payments-wrap {
  margin-left: -11px;
}

.order-form-payments-item {
  color: #7f7f7f !important;
  font: 11px 'PTSans';
  margin-left: 11px;
  text-align: center;
  width: 109px;
}
  .order-form-payments-item .image {
    background: url(../images/sprt.png) 0 -267px no-repeat;
    display: block;
    height: 109px;
    width: 109px;
  }
  .order-form-payments-item .hr {
    border-bottom: 1px solid #ccc;
    display: block;
    margin: 11px auto 3px;
    width: 56px;
  }

  .order-form-payments-item.i2 .image {
    background-position: -109px -267px;
  }
  .order-form-payments-item.i3 .image {
    background-position: -218px -267px;
  }
  .order-form-payments-item.i4 .image {
    background-position: -327px -267px;
  }
  .order-form-payments-item.i5 .image {
    background-position: -436px -267px;
  }

.chat-link-wrap {
  background: url(../images/sprt.png) no-repeat -273px -176px;
  height: 90px;
  position: absolute;
  width: 113px;
}
  .chat-link-wrap a {
    bottom: -20px;
    color: #dc3d68;
    font: 12px 'PTSans';
    position: absolute;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
    text-decoration: underline;
    width: 150px;
  }

.faq-list {
  width: 460px;
}

.faq-item {
  font: 16px 'PTSans';
  margin-top: 8px;
}

  .faq-item-header {
    background: #ededed;
    display: block;
    padding: 10px 20px 10px 30px;
    position: relative;
  }
    .faq-item-header:hover {
      background: #f1f1f1;
    }
    .faq-item-title {
      color: #4c4c4c;
    }
    .faq-item-theme {
      color: #dc3d68;
      font-size: 12px;
    }
      .faq-item-theme span {
        color: #b2b2b2;
      }

  .faq-item-header-arr {
    background: url(../images/sprt.png) no-repeat -466px -41px;
    position: absolute;
    top: 50%;
    right: 7px;
    margin-top: -3px;
    height: 6px;
    width: 12px;
  }
    .opened .faq-item-header-arr {
      background-position: -466px -52px;
    }

  .faq-item-content {
    background: #fffadf;
    display: none;
    font-size: 14px;
    line-height: 150%;
    padding: 10px 20px 10px 30px;
    position: relative;
  }
    .opened .faq-item-content {
      display: block;
    }

  .faq-item-close {
    background: url(../images/sprt.png) no-repeat -466px -63px;
    height: 6px;
    position: absolute;
    bottom: 10px;
    right: 7px;
    width: 12px;
  }

.faq-form-wrap {
  position: relative;
  width: 445px;
}

.faq-form {
  margin-top: -13px;
}

.pagination {
  margin-top: 45px;
  text-align: center;
}
  .pagination a {
    background: #dc3d68;
    border-radius: 50%;
    *display: inline;
    display: inline-block;
    height: 11px;
    width: 11px;
    zoom: 1;
  }
    .pagination .i2 {
      opacity: 0.7;
      filter: alpha(opacity=70);
    }
    .pagination .i3 {
      opacity: 0.3;
      filter: alpha(opacity=30);
    }

.catalog-header-items-wrap {
  margin-left: -20px;
}
.catalog-header-item {
  margin-left: 20px;
  width: 300px;
}

.action-item-small {
  font: 21px 'FranklinGothic';
}
  .action-item-small-image {
    position: relative;
    width: 75px;
  }
    .action-item-small-image-overlay {
      background: url(../images/sprt.png) no-repeat 0 -376px;
      height: 75px;
      left: 0;
      position: absolute;
      top: 0;
      width: 75px;
    }


  .action-item-small-content {
    margin-top: 5px;
    width: 210px;
  }
    .action-item-small-title {
      color: #000;
    }
    .action-item-small-hr {
      border: 1px solid #dc3d68;
      width: 87px;
    }
    .action-item-small-text {
      color: #10005f;
      font-size: 14px;
      margin-top: 2px;
    }

.catalog-header-brand-text {
  font: 13px 'PTSans';
  margin-top: 5px;
}

.catalog-header-action-stats {
  height: 43px;
  text-align: center;
  width: 293;
}

  .catalog-header-action-stats-title {
    font: 10px 'PTSans';
    margin-top: 5px;
  }
  .catalog-header-action-stats-content {
    background: url(../images/sprt.png) no-repeat -76px -376px;
    font: 10px 'FranklinGothic';
    height: 43px;
    line-height: 35px;
    margin: 5px auto 0;
    width: 293px;
  }
    .catalog-header-action-stats-content strong {
      color: #fff;
      font-size: 16px;
    }

.flash-message {
  font: 16px 'FranklinGothic';
  margin-top: 15px;
  text-align: center;
}
  .flash-message big {
    font-size: 21px;
  }

.invite-left-col {
  margin-left: 27px;
}

.invite-left-text {
  color: #dc3d68;
  font: 21px 'FranklinGothic';
}

.invite-link {
  background: #fffadf url(../images/sprt.png) no-repeat -89px -425px;
  display: block;
  height: 61px;
  margin-top: 11px;
  text-align: center;
  width: 221px;
}
  .invite-link.gp {
    background-position: -89px -490px;
  }
  .invite-link.mr {
    background-position: -89px -565px;
  }
  .invite-link.ya {
    background-position: -89px -638px;
  }

.invite-right-col {
  margin-right: 70px;
  width: 530px;
}

.invite-right-text {
  font: 16px 'FranklinGothic';
}
.invite-friends-wrap {
  background: #fffadf;
  height: 276px;
  margin-top: 13px;
}


.blog-item {
  cursor: pointer;
  font: 13px 'PTSans';
  margin-top: 25px;
  position: relative;
  width: 450px;
}
  .blog-item-content {
    width: 300px;
  }

  .blog-item-title {
    font: 28px 'Bodoni';
    line-height: 100%;
  }
  .blog-item-info {
    border-bottom: 1px solid #ccc;
    font: 14px 'FranklinGothic';
    padding-bottom: 6px;
    margin-top: 2px;
    margin-bottom: 6px;
  }
  .blog-item-date {
    color: #dc3d68;
  }
  .blog-item-description {
    font: 11px 'PTSans';
  }

.blog-item-arr {
  background: url(../images/sprt.png) no-repeat -2px -456px;
  display: none;
  height: 69px;
  right: -50px;
  top: 30px;
  position: absolute;
  width: 21px;
}
  .opened .blog-item-arr {
    display: block;
  }

.blog-detail {
  margin-top: 25px;
  width: 380px;
}
  .blog-detail-title {
    font: 28px 'Bodoni';
    line-height: 100%;
    margin-bottom: 15px;
  }
  .blog-detail-text {
    color: #4c4c4c;
    font: 16px 'PTSans';
    line-height: 135%;
    margin-top: 20px;
  }

.moneyback-block-left {
  width: 300px;
}

.moneyback-block-right {
  margin-right: 40px;
  width: 480px;
}

.moneyback-text {
  height: 220px;
  overflow: auto;
  margin-top: 15px;
}
  .moneyback-text p {
    font: 14px 'PTSans';
    margin: 5px 0;
  }

.content-block-title {
  border-bottom: 1px solid #ccc;
  font: 19px 'FranklinGothic';
  padding-bottom: 3px;
}

.title-underline {
  border-bottom: 1px solid #bbb;
  margin: 3px 0 10px;
  width: 50%;
}

/* ==|== non-semantic helper classes ======================================== */

.ml10 { margin-left: 10px !important; }
.ml15 { margin-left: 15px !important; }
.ml20 { margin-left: 20px !important; }
.ml50 { margin-left: 50px !important; }

.mt0 { margin-top: 0 !important; }
.mt5 { margin-top: 5px !important; }
.mt10 { margin-top: 10px !important; }
.mt15 { margin-top: 15px !important; }
.mt20 { margin-top: 20px !important; }
.mt25 { margin-top: 25px !important; }
.mt30 { margin-top: 30px !important; }
.mt40 { margin-top: 40px !important; }
.mt45 { margin-top: 45px !important; }
.mt50 { margin-top: 50px !important; }

.mb0 { margin-bottom: 0 !important; }
.mb5 { margin-bottom: 5px !important; }
.mb10 { margin-bottom: 10px !important; }

.mr5 { margin-right: 5px !important; }

.align-center {
  text-align: center;
}

.pink-text {
  color: #dc3d68;
}

.tiny-text {
  font-size: 0.75em;
}

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.h { display: none !important; visibility: hidden; }
.invisible { visibility: hidden; }
.c:before, .c:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.c:after { clear: both; }
.c { zoom: 1; }
.l, .r { display: inline; float: left; }
.r { float: right; }
.b { border: 1px solid red; }
.bt { border-top: 1px solid transparent; }
.bb { border-bottom: 1px solid transparent; }

.transition {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {

}



/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
